src/fixtures/WSDL/xsd/CTX/ROOT_ctxbam_CTXBAM_V01_02.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Schema generated by Camelia uml2xml tool -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ctxbam="urn:siram:bam:ctxbam" targetNamespace="urn:siram:bam:ctxbam"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:annotation>
		<xsd:appinfo>
			<Build xmlns="urn:camelia:info" Host="S000209W" Time="20120223_162301"
				Location="D:/WS_CAMELIA_ET5" Project="Projet_SIR" Model="CTXBAM"
				Generation="1" Repository="" Root="true" />
			<Package xmlns="urn:camelia:info" Timestamp="20120223_162956"
				Version="01.02" Status="Draft" />
		</xsd:appinfo>
	</xsd:annotation>

	<!-- MAIN INSTANCES GLOBAL ELEMENTS -->

	<xsd:element name="ContexteBAM" type="ctxbam:ContexteBAM" />

	<!-- PARTIAL BRANCH <<SIMPLE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:simpleType name="DateLunaire">
		<xsd:restriction base="ctxbam:PATTERN0_DateLunaire" />
	</xsd:simpleType>

	<!-- CURRENT TYPE PATTERN STACK -->

	<xsd:simpleType name="PATTERN0_DateLunaire">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{4}-\d{2}-\d{2}" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- PARTIAL BRANCH <<SIMPLE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:simpleType name="CodeString">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<!-- PARTIAL BRANCH <<SIMPLE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:simpleType name="IdentiteString">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<!-- PARTIAL BRANCH <<AGREGATE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:complexType name="Beneficiaire">
		<xsd:sequence>
			<xsd:element name="Nir" type="ctxbam:NIRCertifie"
				minOccurs="0" />
			<xsd:element name="DateNai" type="ctxbam:DateLunaire"
				minOccurs="0" />
			<xsd:element name="Rang" type="xsd:integer" minOccurs="0" />
			<xsd:element name="Porteur"
				type="ctxbam:PATTERN0_CTXBAM_ContexteBAM_Beneficiaire_Porteur"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- CURRENT PROPERTY PATTERN STACK -->

	<xsd:simpleType name="PATTERN0_CTXBAM_ContexteBAM_Beneficiaire_Porteur">
		<xsd:restriction base="ctxbam:CodeString">
			<xsd:pattern value="\d{1}" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- PARTIAL BRANCH <<AGREGATE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:complexType name="Couverture">
		<xsd:sequence>
			<xsd:element name="GrandRegime" type="ctxbam:IdentiteString"
				minOccurs="0" />
			<xsd:element name="Organisme" type="ctxbam:IdentiteString"
				minOccurs="0" />
			<xsd:element name="CodeCentre" type="ctxbam:IdentiteString"
				minOccurs="0" />
			<xsd:element name="ASSURE" type="ctxbam:Assure"
				minOccurs="0" />
			<xsd:element name="BENEFICIAIRE" type="ctxbam:Beneficiaire"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- PARTIAL BRANCH <<AGREGATE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:complexType name="ContexteBAM">
		<xsd:sequence>
			<xsd:element name="Id" type="ctxbam:IdentiteString" />
			<xsd:element name="Temps" type="xsd:dateTime" />
			<xsd:element name="Emetteur" type="ctxbam:IdentiteString"
				minOccurs="0" />
			<xsd:element name="DateRef" type="xsd:dateTime"
				minOccurs="0" />
			<xsd:element name="COUVERTURE" type="ctxbam:Couverture" />
		</xsd:sequence>
		<xsd:attribute name="Nature"
			type="ctxbam:PATTERN0_CTXBAM_ContexteBAM_ContexteBAM_Nature" />
		<xsd:attribute name="Version" type="ctxbam:CodeString"
			use="required" />
	</xsd:complexType>

	<!-- CURRENT PROPERTY PATTERN STACK -->

	<xsd:simpleType name="PATTERN0_CTXBAM_ContexteBAM_ContexteBAM_Nature">
		<xsd:restriction base="ctxbam:CodeString">
			<xsd:pattern value="CTXBAM" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- PARTIAL BRANCH <<AGREGATE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:complexType name="NIRCertifie">
		<xsd:sequence>
			<xsd:element name="Num"
				type="ctxbam:PATTERN0_CTXBAM_TypesComplexes_NIRCertifie_Num"
				minOccurs="0" />
			<xsd:element name="Cle"
				type="ctxbam:PATTERN0_CTXBAM_TypesComplexes_NIRCertifie_Cle"
				minOccurs="0" />
			<xsd:element name="DateCertification" type="xsd:date"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- CURRENT PROPERTY PATTERN STACK -->

	<xsd:simpleType name="PATTERN0_CTXBAM_TypesComplexes_NIRCertifie_Num">
		<xsd:restriction base="ctxbam:IdentiteString">
			<xsd:pattern value="\d{6}[AB0-9]{1}\d{6}" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- CURRENT PROPERTY PATTERN STACK -->

	<xsd:simpleType name="PATTERN0_CTXBAM_TypesComplexes_NIRCertifie_Cle">
		<xsd:restriction base="ctxbam:IdentiteString">
			<xsd:pattern value="\d{2}" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- PARTIAL BRANCH <<AGREGATE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:complexType name="Assure">
		<xsd:sequence>
			<xsd:element name="Id" type="ctxbam:NIR" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- PARTIAL BRANCH <<AGREGATE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:complexType name="NIR">
		<xsd:sequence>
			<xsd:element name="Num"
				type="ctxbam:PATTERN0_CTXBAM_TypesComplexes_NIR_Num" minOccurs="0" />
			<xsd:element name="Cle"
				type="ctxbam:PATTERN0_CTXBAM_TypesComplexes_NIR_Cle" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- CURRENT PROPERTY PATTERN STACK -->

	<xsd:simpleType name="PATTERN0_CTXBAM_TypesComplexes_NIR_Num">
		<xsd:restriction base="ctxbam:IdentiteString">
			<xsd:pattern value="\d{6}[AB0-9]{1}\d{6}" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- CURRENT PROPERTY PATTERN STACK -->

	<xsd:simpleType name="PATTERN0_CTXBAM_TypesComplexes_NIR_Cle">
		<xsd:restriction base="ctxbam:IdentiteString">
			<xsd:pattern value="\d{2}" />
		</xsd:restriction>
	</xsd:simpleType>


	<!-- END OF SCHEMA -->

</xsd:schema>