src/fixtures/WSDL/xsd/CTX/ROOT_ctxlps_CTXLPS_V01_00.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Schema generated by Camelia uml2xml tool -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ctxlps="urn:siram:lps:ctxlps" targetNamespace="urn:siram:lps:ctxlps"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:annotation>
		<xsd:appinfo>
			<Build xmlns="urn:camelia:info" Host="S000210W" Time="20111004_173232"
				Location="D:/WS_CAMELIA_ET5" Project="Projet_SIR" Model="CTXLPS"
				Generation="1" Repository="" Root="true" />
			<Package xmlns="urn:camelia:info" Timestamp="20111004_173551"
				Version="01.00" Status="Draft" />
		</xsd:appinfo>
	</xsd:annotation>

	<!-- MAIN INSTANCES GLOBAL ELEMENTS -->

	<xsd:element name="ContexteLPS" type="ctxlps:ContexteLPS" />

	<!-- PARTIAL BRANCH <<SIMPLE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:simpleType name="CodeString">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<!-- PARTIAL BRANCH <<SIMPLE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:simpleType name="IdentiteString">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<!-- PARTIAL BRANCH <<SIMPLE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:complexType name="IdentiteStringRef">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="R" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- PARTIAL BRANCH <<AGREGATE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:complexType name="LOGICIEL">
		<xsd:sequence>
			<xsd:element name="IDAM" type="ctxlps:IdentiteStringRef"
				minOccurs="0" />
			<xsd:element name="Version" type="ctxlps:CodeString"
				minOccurs="0" />
			<xsd:element name="Instance" type="ctxlps:IdentiteString"
				minOccurs="0" />
			<xsd:element name="Nom" type="ctxlps:CodeString"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- PARTIAL BRANCH <<AGREGATE>> -->

	<!-- CURRENT BRANCH TOP TYPE -->

	<xsd:complexType name="ContexteLPS">
		<xsd:sequence>
			<xsd:element name="Id" type="ctxlps:IdentiteString" />
			<xsd:element name="Temps" type="xsd:dateTime" />
			<xsd:element name="Emetteur" type="ctxlps:IdentiteString"
				minOccurs="0" />
			<xsd:element name="LPS" type="ctxlps:LOGICIEL" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="Nature"
			type="ctxlps:PATTERN0_CTXLPS_ContexteLPS_ContexteLPS_Nature" />
		<xsd:attribute name="Version" type="ctxlps:CodeString"
			use="required" />
	</xsd:complexType>

	<!-- CURRENT PROPERTY PATTERN STACK -->

	<xsd:simpleType name="PATTERN0_CTXLPS_ContexteLPS_ContexteLPS_Nature">
		<xsd:restriction base="ctxlps:CodeString">
			<xsd:pattern value="CTXLPS" />
		</xsd:restriction>
	</xsd:simpleType>


	<!-- END OF SCHEMA -->

</xsd:schema>